
.main{
    display: flex;
}

.left{
    width: 15%;
    background-color: darkgrey;
    margin: 10px;
}
.center{
    width: 70%;
    margin: 1opx
    ;

}
.right{
    width: 15%;
    background-color: darkgrey;
    margin: 10px; ;
}
.sec1{
    height: 200px;
    background-color: darkgrey;
    margin: 10px;

}
.sec2{
    height: 200px;
    background-color:darkgrey;
    margin: 10px;

}
.sec3{
  display: flex;

}
.book1{
    flex :1;
    height: 200px;
    background-color:darkgrey;
    margin: 10px;
}
.book2{
    flex:1 ;
    height: 200px;
    background-color: darkgrey;
    margin: 10px;
}
.book3{
    flex: 1;
    height: 200px;
    background-color: darkgrey;
    margin: 10px;
}
.sec4{
    height: 200px;
    background-color:darkgrey;
    margin: 10px;

}
.sec5{
    display: flex;
}
.pic1{
    flex: 2;
    height: 480px;
    background-color: darkgrey;
    margin: 10px;
}
.pic2{
    flex: 1;
    height: 480px;
    background-color:darkgrey;
    margin: 10px;
}
